useDynLib(PPCI, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "dev.off", "pdf", "rgb", "col2rgb")
importFrom("utils", "data")
importFrom("graphics", "abline", "axis", "layout", "lines", "par", "plot", "points", "segments", "text", "title", "image", "pairs")
importFrom("stats", "cov", "density", "kmeans", "optim", "pf", "sd")
export("cluster_performance", "mcdc", "mch", "mddc", "mdh", "ncutdc", "ncuth", "success_ratio", "tree_prune", "tree_split", "optidigits_mean_images", "mddr", "mcdr", "ncutdr")
S3method(plot, ppci_hyperplane_solution)
S3method(plot, ppci_cluster_solution)
S3method(plot, ppci_projection_solution)
